{% extends 'Navbar/ProjectNavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS Register</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
{% block body %}
    <div class="container">
        <h2>Student Management System</h2>
        <div class="form-box">
            <h3>Register</h3>
            <form action="{% url 'registerpagelogic' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" required>
                </div>
                <div class="input-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" required>
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <button type="submit" class="btn">Register</button>
                <p class="message">Already have an account? <a href="{% url 'loginpagecall' %}">Login</a></p>
            </form>
        </div>
    </div>
{% endblock %}
</body>
</html>
